.fail 
  %h1== #{h(@fail[:text])} door de OV-chipkaart
  %small
    Permalink: 
    %a{ :href => "http://ov-failkaart.nl/#{@fail[:id]}", :id => "permalink" }
      == http://ov-failkaart.nl/#{@fail[:id]}
    \|
    %a{ :href => "http://twitter.com/home?status=#{@fail.text} door de OV-chipkaart+http://ov-failkaart.nl/#{@fail.id}", :target => "_blank" } Tweet this!
    %br
    %a{ :href => "/1" } Eerste 
    \|
    %a{ :href => "/"} Willekeurig
    \|
    %a{ :href => "/#{Fail.order(:id.desc).first[:id]}" } Laatste
    %br
    - unless @hide_count
      == #{Fail.count} fails!
  %br
  %br 

#card 
  %form{ :action => "/fails", :method => "post" } 
  
    %textarea#fail_text{ :name => "text", :title => "Ook je agressie kwijt? Type hier dan je bericht!" }
    #fail_counter
    %input.submit{ :type => "submit", :name => "submit", :value => "In/uit checken" }