.fix 
  %h1== #{h(@fix[:text])} fixed by TextMate 2
  %small
    Permalink: 
    %a{ :href => "http://fixedbytm2.com/#{@fix[:id]}", :id => "permalink" }
      == http://fixedbytm2.com/#{@fix[:id]}
    \|
    %a{ :href => "http://twitter.com/home?status=#{@fix.text} will be fixed in TextMate 2+http://fixedbytm2.com/#{@fix.id}", :target => "_blank" } Tweet this!
    %br
    %a{ :href => "/1" } First 
    \|
    %a{ :href => "/"} Random
    \|
    %a{ :href => "/#{Fix.order(:id.desc).first[:id]}" } Last
    %br
    - unless @hide_count
      == #{Fix.count} fixes!
  %br
  %br 

.yours 
  %form{ :action => "/fixes", :method => "post" }
    %h3 Suggest a fix
    %textarea{ :name => "text" }
    %br
    fixed by TextMate 2
    %br
    %input{ :type => "submit", :name => "submit", :value => "Suggest it!"}